<!DOCTYPE html>
<html lang="zw-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>生成食譜</title>

    

    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/versions/2.22.3/sdk.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <!--利用form把資料傳到後台-->
    <form method="POST" >
    <div class="row" style="margin: 10px">
        <div class="col-12" style="margin: 10px">
            
            <p  class="fw-bold">料理種類選擇</p>
            <select name="料理" id="taste" class="form-select">
                <option>台式料理</option>
                <option>日式料理</option>
                <option>西式料理</option>
                <option>韓式料理</option>
                <option>泰式料理</option>
            </select>
            <br />
            
         
            <p  class="fw-bold">一天預算</p>
            <input name="一天預算" type="text" id="name" class="form-control" value="0" >
            <br />

            <p  class="fw-bold">其他描述</p>
            <textarea name="其他描述" type="text" id="name" class="form-control" value=" " rows="3" placeholder="偏好烹飪方式、不吃的食物等" ></textarea>
            <br />

            <div class="d-grid gap-2 col-3 mx-auto">
                <button type="submit" class="btn btn-success" id="save">開始生成</button>
            </div>

            <input name="userId" type="hidden" id="userId" class="form-control" value=""  >

        </div>
    </div>
    </form>
    <script>

        //依照官方文件，需要刷新LIFF，可以取得userid
         liff
        .init({
          
            liffId: "2005795676-d4ZewA4q", // Use own liffId

            withLoginOnExternalBrowser: true,
        })
        .then(() => {
            var user = document.getElementById("userId");
         
            // The user can use an API that requires an access token, such as liff.getProfile().
            
            liff
            .getProfile()
            .then((profile) => {

                const userId = profile.userId;
                
                user.value = profile.userId;
            
            })
            })
            .catch((err) => {
                console.log("error", err);

                alert("錯誤");
            });
    </script>
    
    <script>
        
        //按下按鈕會傳送文字到聊天室，本地測試可能會有問題
        function getValue(){

            liff
            .sendMessages([
                {
                type: "text",
                text: "領取食譜",
                },
            ])
            .then(() => {
                console.log("message sent");
                alert("message sent");
            })
            .catch((err) => {
                console.log("error", err);
                alert(err)
            });
            alert('儲存成功')
        }

        document.getElementById("save").addEventListener("click", getValue);

 

    </script>


</body>



</html>